{% extends 'base.html' %}
{% load static %}

{% block content %}

<br/><br/><br/>
<section class="about" id="about">
    <h1 class="heading"> About <span>me</span> </h1>
    <div class="row">
        <div class="box">
            <h3 class="title">Coding Skills</h3>
            <div class="progress">
                <h3> HTML <span>79%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Linux <span>80%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> C++ <span>77%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Flask <span>55%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> C++ <span>50%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Assembly Language <span>75%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Python <span>78%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
        </div>
        <div class="box">
            <h3 class="title">Professional Skills</h3>
            <div class="progress">
                <h3> Web Design <span>48%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Web Development <span>77%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Graphic Design <span>55%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> App Development <span>30%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Software Development <span>48%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Game Development <span>40%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Game Design <span>50%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
        </div>
        <div class="box">
            <h3 class="title">Experience</h3>
            <div class="exp-box">
                <h3>Web Development</h3>
                <p>I've build many websites and this website is one of them, though I am weak in designing but still keep on learning new way to make it work.</p>
            </div>
            <div class="exp-box">
                <h3>Software Development</h3>
                <p>I am also a software developer as I have already build some basic software's with Tkinter and Python Kivy.</p>
            </div>
            <div class="exp-box">
                <h3>Programming Skills</h3>
                <p>I know many programming languages like Python, C++, C, MySQL, HTML, Flask, Kivy, Tkinter, Assembly Language, VB 6.0, Java, etc</p>
            </div>
        </div>
        <div class="box">
            <h3 class="title">Education</h3>
            <div class="exp-box">
                <h3>SN College of Computer Science (MU)</h3>
                <p>Securing B.Sc Degree in Computer Science from SN College affiliated to Mumbai University.</p>
            </div>
            <div class="exp-box">
                <h3>Shri L.P Raval Jr.College of Science (HSC)</h3>
                <p>Completed my 12 standard from Raval college, Maharashtra board, Science Stream with Computer Science, secured 68% in 12th Boards.</p>
            </div>
            <div class="exp-box">
                <h3>St.Xavier's High School (SSC)</h3>
                <p>Completed my 10 standard from Xavier's, Maharashtra board, secured 65% in 10th Boards.</p>
            </div>
        </div>
    </div>
</section>
<br/><br/><br/>

{% endblock %}
