<!-- footer section-->
<div class="footer">
    <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">My Social handles.</h4>
        <a class="btn btn-outline-primary btn-social mx-1" href="https://www.facebook.com/harshman.chatterjee.9/"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a class="btn btn-outline-info btn-social mx-1" href="https://twitter.com/Harshman_C09"><i class="fab fa-fw fa-twitter"></i></a>
        <a class="btn btn-outline-primary btn-social mx-1" href="https://www.linkedin.com/in/harshman-chatterjee-5868031bb/"><i class="fab fa-fw fa-linkedin-in"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/harshman.chatterjee_09/"><i class="fab fa-fw fa-instagram"></i></a>
        <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/StarCoder09"><i class="fab fa-fw fa-github"></i></a>
        <a class="btn btn-outline-danger btn-social mx-1" href="https://www.youtube.com/channel/UCfDO3MWtiA6zOP46re9OjfA"><i class="fab fa-fw fa-youtube"></i></a>
        <a class="btn btn-outline-primary btn-social mx-1" href="https://discord.gg/thwmfJG4f2"><i class="fab fa-fw fa-discord"></i></a>
    </div>
</div>
<div class="footer">Copyright &copy;<a href="https://harshman-chatterjee.herokuapp.com"> Harshman Chatterjee </a>| all rights reserved!</div>
<!-- footer section ends-->
